:root {
    --primary-color: #F0D85A;
    --secondary-color: #1A1A1A;
    --tertiary-color: #4d4d4d;
    --divider-color: #1B1B1B;
    --font-size: 1vw;
    --font-size-2: 0.4vw;
    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

body {
    height: 60%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.dashboard {
    color: var(--primary-color);
    font-family: var(--font-family);
    letter-spacing: 1px;
    margin-left: 22.5%;
}

.logo {
    border-radius: 35%;
    width: 5%;
}

.logo:hover {
    cursor: pointer;
}

form {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    color: white;
    font-size: var(--font-size);
    margin-left: 10%;
}

input[type="text"]:focus {
    outline: none;
}

.navbar {
    background-color: black;
    font-size: .8em;
    color: grey;
    width: 20%;
    /* width: 0%; */
    height: 95%;
    margin: 15px;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    align-items: center;
    font-family: var(--font-family);
    font-size: 1.25vw;
    color: var(--tertiary-color);
    background-color: transparent;
}

.nav-menu a {
    color: inherit;
    text-decoration: none;
}

.nav-links {
    margin: 7.5%;
}

.data {
    background-color: var(--secondary-color);
    width: 80%;
    height: 95%;
    float: right;
    border-radius: 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 30px;
    align-items: center;
}

.top {
    height: 35%;
}

.bottom {
    height: 65%;
}

.gainers {
    background-color: black;
    height: 85%;
    width: 50%;
    border-radius: 30px;
    margin: 15px;
}

.gainers h1 {
    color: white;
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: var(--font-size);
    text-align: center;
}

.losers {
    background-color: black;
    height: 85%;
    width: 50%;
    border-radius: 30px;
    margin: 15px;
}

.losers h1 {
    color: white;
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: var(--font-size);
    text-align: center;
}

.no-id {
    text-align: center;
}

.favorites {
    background-color: var(--primary-color);
    width: 30%;
    height: 90%;
    border-radius: 30px;
    margin: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.favorite-title {
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: var(--font-size);
    text-align: center;
}

.coin {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    font-size: var(--font-size-2);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.coin:hover {
    box-sizing: border-box;
    background-color: rgb(151, 151, 151);
    cursor: pointer;
  }

.coin-image {
    object-fit: none;
    margin: 0;
    padding: 0;
}

.coin-name {
    font-style: var();
}

.coin-symbol {
    color: var(--tertiary-color)
}

.side-coin {
    display: inline-block;
    margin-left: 10%;
    margin-right: 5%;
}

.mid-coin {
    display: inline-block;
    margin-left: 10%;
}

.price-change-7-days {
    background-color: black;
    text-align: center;
    color: green;
    border-radius: 30px;
    padding: 2px;
    font-size: .7vw
}

.graph {
    background-color: black;
    border-radius: 30px;
    width: 65%;
    height: 90%;
    margin: 15px;
}

.graph-title {
    color: white;
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: var(--font-size);
    padding-left: 15px;
}

.graph-data {
    width: 100%;
    height: 100%;
}

.divider {
    background-color: var(--divider-color);
    width: 100%;
    height: 2px;
    border-radius: 30px;
}