#account-info {
    width: 100%;
    height: 100%;
}

#account-info label {
    display: block;
}

#account-info h2 {
    font-size: var(--font-size-3);
}

#account-info input {
    display: inline;
    border: none;
    color: black;
}

#no-account {
    width: 100%;
    height: 100%;
}