#favorite-coins li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: .75rem 1rem;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--tertiary-color);
    font-size: var(--font-size-2);
}

.coin img {
    grid-area: 1 / 1 / 2 / 1;
    cursor: pointer;
}

.coin .coin-name {
    grid-area: 1 / 2 / 2 / 2;
    width: 8dvw;
}

.coin h3, coin-price {
    margin: 0 0 .75rem 0;
}

.coin coin-change {
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.coin .coin-name, .coin-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin .coin-prices {
    grid-area: 1 / 3 / 2 / 3;
}

.coin #trash {
    grid-area: 1 / 4 / 2 / 4;
    height: 50%;
    border-radius: 1rem;
    padding: .5rem;
    border: 1px solid var(--tertiary-color);
    outline: none;
}

.coin #trash:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}