
#settings-list {
    grid-area: 1 / 1 / 6 / 1;
    list-style: none;
}

#settings-list li:hover {
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

#settings-list li {
    padding: .5rem;
    cursor: pointer;
    margin: .5rem;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-2);
    border: none;
}

#settings-component {
    grid-area: 1 / 2 / 4 / 4;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 0;
    padding: .5rem 1rem;
}

