.settings {
    background-color: var(--tertiary-color);
    width: 100%;
    height: 100%;
    color: white;
}

.settings-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
}

.settings-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.settings-list {
    background-color: var(--secondary-color);
    padding: 10px;
    height: 250px;
    margin: 0px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.settings-list-item {
    background-color: var(--secondary-color);
    padding: 10px;
}